<html>
<head>
    <meta charset="utf-8" />
    <title>Genialwang</title>
    
    <link rel="stylesheet" href="./static/css/uikit.almost-flat.min.css" />
    <link rel="stylesheet" href="./static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./static/css/font-awesome-ie7.min.css" />
    <link rel="stylesheet" href="./static/css/genialwang.css" />
    <link rel="stylesheet" href="./static/css/components/sticky.almost-flat.min.css" />
    <link rel="stylesheet" href="./static/css/components/accordion.css" />
</head>
<body>
    <div class="uk-margin-bottom" data-uk-sticky id="sticky">
        <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
            <div class="uk-container uk-container-center">
                <a href="./aboutme.html" class="uk-navbar-brand">GenialWang</a>
                <ul class="uk-navbar-nav">
                    <li><a href="./index.html"><i class="uk-icon-book"></i> 博客</a></li>
                    <li><a href="./aboutme.html"><i class="uk-icon-user"></i> 关于我</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-medium-3-4">
                <ul id="accordion" class="accordion">
                    {%for f in foo%}
		            <li>
                        <div class="link"><i class="fa fa-paint-brush"></i>{{f[0]}}<i class="fa fa-chevron-down"></i></div>
			            <ul class="submenu">
                        {%for l in f[1:]%}
                        <li><a href="./html/{{f[0]}}/{{l}}.html">{{rep[l]}}</a></li>
                        {%endfor%}
			            </ul>
		            </li>
                    {%endfor%}
                </ul>
            </div>

            <div class="uk-width-medium-1-4">
                <div class="uk-panel uk-panel-box" id="friend_link">
                    <h3 class="uk-panel-title">友情链接</h3>
                    <ul class="uk-list uk-list-line">
                        <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://blog.septicmk.com">septicmk</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-margin-large-top" style="background:#333">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="http://weibo.com/u/2935065297" class="uk-icon-button uk-icon-weibo"></a>
                    <a target="_blank" href="https://github.com/genialwang" class="uk-icon-button uk-icon-github"></a>
                    <a href="Mailto:wangbiao@ncic.ac.cn" class="uk-icon-button uk-icon-envelope"></a>
                </p>
                <p id = "info">本作品采用<a rel="license" href="http://creativecommons.org/licenses/by/3.0/cn/">知识共享署名 3.0 中国大陆许可协议</a>进行许可.<p>
            </div>
        </div>
    </div>

    <script src="./static/js/jquery.min.js"></script>
    <script src="./static/js/uikit.min.js"></script>
    <script src="./static/js/components/sticky.min.js"></script>
    <script src="./static/js/components/google_analytics.js"></script>
    <script src="./static/js/components/accordion.js"></script>
</body>
</html>
