<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset="utf-8" >
    <meta name = "author" content = "genialwang" >
    <!--{{meta}}-->
    <title>news</title>

    <link rel="stylesheet" href="/static/css/uikit.almost-flat.min.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/font-awesome-ie7.min.css" />
    <link rel="stylesheet" href="/static/css/components/sticky.almost-flat.min.css" />
    <link rel="stylesheet" href="/static/css/genialwang.css" />
    <link rel="stylesheet" href="/static/css/components/accordion.css" />
</head>
<body>
    <div data-uk-sticky>
        <nav class="uk-navbar uk-navbar-attached" id="news">
            <div class="uk-container uk-container-center uk-text-center">
                <form class="uk-form" action="/news" method="post">
                    <img class="uk-border-circle" src="/static/img/ucas.jpg" alt="图片加载失败-_-!" width="40" height="40">
                    <input type="text" placeholder="" class="uk-form-width-large" \>
                    <button class="uk-button uk-button-primary " type="submit">搜一下</button>
                    <label><input type="radio" id="hot" name="radio">按照热度</label>
                    <label><input type="radio" id="time" name="radio" checked="true">按照时间</label>
                </form>
            </div>
        </nav>
    </div>

    <div class="uk-container uk-container-center">
        <div>
            <ul id="accordion" class="accordion">
                {% for file in files %}
		        <li>
                <div class="link"><i class="fa fa-paint-brush"></i>{{file[0]}}<i class="fa fa-chevron-down"></i></div>
			        <ul class="submenu">
                        <li><a target="blank" href="{{file[1]}}">{{file[2]}}</a></li>
			        </ul>
		        </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="#" onclick="gotoTop();return false;" class="totop"></a>

    <div class="uk-margin-large-top" style="background: #333;">
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/components/sticky.min.js"></script>
    <script src="/static/js/components/smooth-scroll.min.js"></script>
    <script src="/static/js/genialwang.js"></script>
    <script src="/static/js/components/accordion.js"></script>
</body>
</html>
